name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  common:
    name: common
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Rust
        run: >
          rustup update stable &&
          rustup default stable &&
          rustup component add --toolchain stable clippy rustfmt      
      - name: Cargo cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2
      - name: Check clippy
        run: cargo clippy -- -D warnings
      - name: Check rustfmt
        run: cargo fmt --all -- --check
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
